<details-component *ngIf="shipment" customTitle="Shipment of ID {{shipment.shipmentId | uppercase}} Details">
  <input-form id="shipmentId" variable="{{props[0]}}" label="{{labels[0]}}" tip="{{labels[0]}} is not editable!">
    <input readonly [(ngModel)]="shipment.shipmentId" placeholder="{{shipment.shipmentId.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[1]}}" label="{{labels[1]}}" tip="{{labels[1]}} is not editable!">
    <input [(ngModel)]="shipment.truckId" placeholder="{{shipment.truckId.toString()}}" class="form-control rounded-pill">
  </input-form>
  <!-- TODO update form due date input format-->
  <input-form variable="{{props[2]}}" label="{{labels[2]}}" tip="{{labels[2]}} valued between 1 and 31">
    <input [(ngModel)]="shipment.toBeDeliveredDay" placeholder="{{shipment.toBeDeliveredDay.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[3]}}" label="{{labels[3]}}" tip="{{labels[3]}} valued between 1 and 12">
    <input [(ngModel)]="shipment.toBeDeliveredMonth" placeholder="{{shipment.toBeDeliveredMonth.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[4]}}" label="{{labels[4]}}" tip="{{labels[4]}} valued between 2022 and 2025">
    <input [(ngModel)]="shipment.toBeDeliveredYear" placeholder="{{shipment.toBeDeliveredYear.toString()}}" class="form-control rounded-pill">
  </input-form>
  <!-- -->
  <div class="d-flex">
    <button type="button" class="me-3 btn btn-secondary rounded-pill p-2 fw-bold" (click)="goBack()">Go Back</button>
    <button type="button" class="btn btn-outline-warning rounded-pill p-2 fw-bold" (click)="save()">Save changes
    </button>
  </div>
</details-component>
