<details-component *ngIf="_package" customTitle="Package of ID {{_package.packageId | uppercase}} Details">
  <input-form id = "packageId" variable="{{props[0]}}" label="{{labels[0]}}" tip="{{labels[0]}} is not editable!">
    <input readonly [(ngModel)]="_package.packageId" placeholder="{{_package.packageId.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[1]}}" label="{{labels[1]}}" tip="{{labels[1]}} valued between 1 and 1000!">
    <input readonly [(ngModel)]="_package.xCoordinate" placeholder="{{_package.xCoordinate.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[2]}}" label="{{labels[2]}}" tip="{{labels[2]}} valued between 1 and 1000!">
    <input readonly [(ngModel)]="_package.yCoordinate" placeholder="{{_package.yCoordinate.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[3]}}" label="{{labels[3]}}" tip="{{labels[3]}} valued between 1 and 1000!">
    <input readonly [(ngModel)]="_package.zCoordinate" placeholder="{{_package.zCoordinate.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[4]}}" label="{{labels[4]}}" tip="{{labels[4]}} is not editable!">
    <input readonly [(ngModel)]="_package.shipmentId" placeholder="{{_package.shipmentId.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[5]}}" label="{{labels[5]}}" tip="{{labels[5]}} is not editable!">
    <input readonly [(ngModel)]="_package.deliveryId" placeholder="{{_package.deliveryId.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[6]}}" label="{{labels[6]}}" tip="{{labels[6]}} is not editable!">
    <input readonly [(ngModel)]="_package.pathId" placeholder="{{_package.pathId.toString()}}" class="form-control rounded-pill">
  </input-form>
  <div class="d-flex">
    <button type="button" class="me-3 btn btn-secondary rounded-pill p-2 fw-bold" (click)="goBack()">Go Back</button>
    <button type="button" class="btn btn-outline-warning rounded-pill p-2 fw-bold" (click)="save()">Save changes
    </button>
  </div>
</details-component>
