<details-component *ngIf="path" customTitle="Path from Warehouse {{path.departureWarehouse | uppercase}} to {{path.arrivalWarehouse | uppercase}} Details">
  <input-form id="pathId" variable="{{props[0]}}" label="{{labels[0]}}" tip="{{labels[0]}} is not editable!">
    <input readonly [(ngModel)]="path.id" placeholder="{{path.id.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[1]}}" label="{{labels[1]}}" tip="{{labels[1]}} is not editable!">
    <input [(ngModel)]="path.departureWarehouse" placeholder="{{path.departureWarehouse.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[2]}}" label="{{labels[2]}}" tip="{{labels[2]}} is not editable!">
    <input [(ngModel)]="path.arrivalWarehouse" placeholder="{{path.arrivalWarehouse.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[3]}}" label="{{labels[3]}}" tip="{{labels[3]}} should be greater than 0!">
    <input [(ngModel)]="path.distance" placeholder="{{path.distance.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[4]}}" label="{{labels[4]}}" tip="{{labels[4]}} should be greater than 0!">
    <input [(ngModel)]="path.duration" placeholder="{{path.duration.toString()}}" class="form-control rounded-pill">
  </input-form>
  <input-form variable="{{props[5]}}" label="{{labels[5]}}" tip="{{labels[5]}} should be greater than 0!">
    <input [(ngModel)]="path.consumedEnergy" placeholder="{{path.consumedEnergy.toString()}}" class="form-control rounded-pill">
  </input-form>
  <div class="d-flex">
    <button type="button" class="me-3 btn btn-secondary rounded-pill p-2 fw-bold" (click)="goBack()">Go Back</button>
    <button type="button" class="btn btn-outline-warning rounded-pill p-2 fw-bold" (click)="save()">Save changes
    </button>
  </div>
</details-component>
