<!-- Paths Header --->
<div class="bg-dark pb-5">
  <div class="container pt-5 text-white d-flex flex-column">
            <span class="main-title fs-1 fw-bold">
            {{customTitle}}s
            </span>
    <span class="text-secondary">
            {{customDescription}}
            </span>
  </div>
  <div *ngIf="addWord!==undefined" class="container mt-4">
    <div class="row">
      <div class="col-8 mb-3">
        <div (click)="changeTitle()" [ngClass]="'btn-' + color" class="add-button btn d-flex rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i [ngClass]="'text-' + color" style="background-color: rgba(62,62,62,0.81);width: 4rem;height: 4rem"
             class="rounded-circle p-3 fa fa-solid fa-plus fa-2x text-center"></i>
          <div class="d-flex flex-column align-items-center justify-content-center">
            <span class="ps-4 fw-bold fs-5">Add {{addWord}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
