<div class="container mt-5 shadow-sm pb-5 rounded-5">
  <img src="{{userInfo?.info?.picture}}" referrerpolicy="no-referrer"
       class="ms-3 nav-link dropdown-toggle rounded-circle"
       style="width: 10rem;z-index: 2; position: absolute; top: 12rem">
  <div style="height: 10rem; position: relative;  background: linear-gradient(90deg, #faf0cd, #fab397); margin-bottom: 4rem"
       class="rounded-5"></div>

  <div class="ms-5 d-flex flex-column">
    <span class="fw-bold fs-3">{{userInfo?.info?.name}}</span>
    <span class="text-secondary fw-bold">{{userInfo?.info?.email}}</span>
    <div class="d-flex flex-row align-items-center">
      <i class="fa fa-solid fa-phone-volume text-success me-3 mt-2"></i>
      <span class="fw-bold mt-2 p-2 bg-success rounded-pill col-2 text-center text-white">{{phoneNumber}}</span>

    </div>
  </div>
</div>
<div class="container mt-5 shadow-sm p-5 rounded-5 d-flex flex-column">
  <span class="fw-bold fs-2">Role</span>
  <span class="fw-light text-secondary fs-4">{{role}}</span>
</div>
