.form-control:focus {
  border: 0;
}
.button:not( :hover ) {
  border-width: 0;
  color: black;
  background-color: #ededed;
  transition: 0.3s;
}

.button:hover{
  border-width: 0;
  background-color: white;
}

.bg-orange {
  background-color: #d86f00;
}

.text-orange {
  color: #d86f00;
}

.btn-orange {
  background-color: #d86f00;
  color: #ffffff;
}
